<!DOCTYPE html>
<html class="no-js" lang="zxx">


<!-- Mirrored from htmldemo.net/elehaus/elehaus/about-us.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 26 Jun 2024 08:39:27 GMT -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>5 CON BÁO</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.png">

    <!-- CSS (Font, Vendor, Icon, Plugins & Style CSS files) -->

    <!-- Font CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&amp;family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400&amp;display=swap"
        rel="stylesheet">

    <!-- Vendor CSS (Bootstrap & Icon Font) -->
    <link rel="stylesheet" href="/static/css/vendor/bootstrap.min.css">

    <!-- Plugins CSS (All Plugins Files) -->
    <link rel="stylesheet" href="/static/css/plugins/swiper-bundle.min.css">
    <link rel="stylesheet" href="/static/css/plugins/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/plugins/simple-line-icons.css">
    <link rel="stylesheet" href="/static/css/plugins/fancybox.min.css">
    <link rel="stylesheet" href="/static/css/plugins/nice-select.css">

    <!-- Style CSS -->
    <link rel="stylesheet" href="/static/css/style.css">

</head>

<body>
    <div class="wrapper">
        <%- include('../partical/header') %>
            <main class="main-content">

                <!--== Start Page Header Area Wrapper ==-->
                <div class="page-header-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="page-header-content">
                                    <h2 class="page-header-title">Giỏ Hàng</h2>
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/home">Trang Chủ //</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Giỏ Hàng</li>
                                    </ol>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="page-header-thumb">
                                    <img src="/static/images/photos/page-title.png" alt="Image-HasTech" width="546"
                                        height="281">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- --------------------------------------------------------------------------------------------------------->
                <!--== Start Product Cart Area Wrapper ==-->
                <div class="product-area section-space">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="cart-table-wrap">
                                    <div class="table-responsive">
                                        <table class="cart-table">
                                            <thead>
                                                <tr>
                                                    <th class="width-thumbnail"></th>
                                                    <th class="width-name">Product</th>
                                                    <th class="width-price">Price</th>
                                                    <th class="width-quantity">Quantity</th>
                                                    <th class="width-subtotal">Subtotal</th>
                                                    <th class="width-remove"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% if (cartItems.length> 0) { %>
                                                    <% cartItems.forEach(item=> { %>
                                                        <tr>
                                                            <td class="product-thumbnail">
                                                                <a href="/productdetails/<%= item.product.id %>">
                                                                    <img class="w-100"
                                                                        src="<%= item.product.images[0] || '/static/images/default-product.jpg' %>"
                                                                        alt="<%= item.product.name %>" width="96"
                                                                        height="96">
                                                                </a>
                                                            </td>
                                                            <td class="product-name">
                                                                <h5>
                                                                    <a href="/productdetails/<%= item.product.id %>">
                                                                        <%= item.product.name %>
                                                                    </a>
                                                                </h5>
                                                            </td>
                                                            <td class="product-price">
                                                                <span class="amount">
                                                                    <%= item.product.price.toLocaleString('vi-VN') %>₫
                                                                </span>
                                                            </td>
                                                            <td class="cart-quality">
                                                                <form method="POST" action="/order/update-cart">
                                                                    <input type="hidden" name="productId"
                                                                        value="<%= item.product.id %>">
                                                                    <div class="product-details-quality">
                                                                        <input type="number" name="quantity"
                                                                            value="<%= item.quantity %>" min="1"
                                                                            class="form-control">
                                                                        <button type="submit"
                                                                            class="btn btn-primary btn-sm mt-2">Update</button>
                                                                    </div>
                                                                </form>
                                                            </td>
                                                            <td class="product-total">
                                                                <span>
                                                                    <%= (item.product.price *
                                                                        item.quantity).toLocaleString('vi-VN') %>₫
                                                                </span>
                                                            </td>
                                                            <td class="product-remove">
                                                                <form method="POST" action="/order/remove-from-cart">
                                                                    <input type="hidden" name="productId"
                                                                        value="<%= item.product.id %>">
                                                                    <button type="submit" class="btn btn-danger btn-sm">
                                                                        <i class="fa fa-trash-o"></i>
                                                                    </button>
                                                                </form>
                                                            </td>
                                                        </tr>
                                                        <% }) %>
                                                            <% } else { %>
                                                                <tr>
                                                                    <td colspan="6" class="text-center">
                                                                        <div class="alert alert-warning">
                                                                            Your cart is empty. <a
                                                                                href="/product">Continue
                                                                                shopping</a>.
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <% } %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="cart-shiping-update-wrapper">
                                    <div class="cart-shiping-btn continure-btn">
                                        <a class="btn btn-link" href="/product"><i class="fa fa-angle-left"></i> Back To
                                            Shop</a>
                                    </div>
                                    <% if (cartItems.length> 0) { %>
                                        <div class="cart-shiping-btn update-btn">
                                            <form method="POST" action="/order/checkout">
                                                <button type="submit" class="btn btn-success">Proceed to
                                                    Checkout</button>
                                            </form>
                                        </div>
                                        <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--== End Product Cart Area Wrapper ==-->
                <!-- --------------------------------------------------------------------------------------------------------->
            </main>
            <!--== Start Footer Area Wrapper ==-->
            <footer class="footer-area">
                <%- include('../shares/footer') %>
            </footer>
            <!--== End Footer Area Wrapper ==-->
    </div>
    <!--== Wrapper End ==-->

    <!-- JS Vendor, Plugins & Activation Script Files -->

    <!-- Vendors JS -->
    <script src="/static/js/vendor/modernizr-3.11.7.min.js"></script>
    <script src="/static/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/static/js/vendor/jquery-migrate-3.3.2.min.js"></script>
    <script src="/static/js/vendor/bootstrap.bundle.min.js"></script>

    <!-- Plugins JS -->
    <script src="/static/js/plugins/swiper-bundle.min.js"></script>
    <script src="/static/js/plugins/fancybox.min.js"></script>
    <script src="/static/js/plugins/jquery.nice-select.min.js"></script>
    <script src="/static/js/plugins/jquery.countdown.min.js"></script>
    <script src="/static/js/plugins/isotope.pkgd.min.js"></script>

    <!-- Custom Main JS -->
    <script src="/static/js/main.js"></script>

</body>


<!-- Mirrored from htmldemo.net/elehaus/elehaus/about-us.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 26 Jun 2024 08:39:29 GMT -->

</html>
</li>
</ul>
</nav>
</div>
<!-- End Mobile Menu Wrapper -->
</div>
</aside>
<!--== Start Side Menu ==-->

</div>
<!--== Wrapper End ==-->

<!-- JS Vendor, Plugins & Activation Script Files -->

<!-- Vendors JS -->
<script src="/static/js/vendor/modernizr-3.11.7.min.js"></script>
<script src="/static/js/vendor/jquery-3.6.0.min.js"></script>
<script src="/static/js/vendor/jquery-migrate-3.3.2.min.js"></script>
<script src="/static/js/vendor/bootstrap.bundle.min.js"></script>

<!-- Plugins JS -->
<script src="/static/js/plugins/swiper-bundle.min.js"></script>
<script src="/static/js/plugins/fancybox.min.js"></script>
<script src="/static/js/plugins/jquery.nice-select.min.js"></script>
<script src="/static/js/plugins/jquery.countdown.min.js"></script>
<script src="/static/js/plugins/isotope.pkgd.min.js"></script>

<!-- Custom Main JS -->
<script src="/static/js/main.js"></script>

</body>


<!-- Mirrored from htmldemo.net/elehaus/elehaus/about-us.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 26 Jun 2024 08:39:29 GMT -->

</html>