<!DOCTYPE html>
<html class="no-js" lang="zxx">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>5 CON BÁO | Lịch sử đơn hàng</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/static/css/vendor/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div class="wrapper">
  <%- include('../partical/header') %>

  <main class="main-content">
    <div class="page-header-area">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <h2 class="page-header-title">Lịch Sử Đơn Hàng</h2>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/home">Trang Chủ //</a></li>
              <li class="breadcrumb-item active">Lịch Sử Đơn Hàng</li>
            </ol>
          </div>
          <div class="col-sm-6">
            <img src="/static/images/photos/page-title.png" alt="Ảnh tiêu đề" width="546" height="281">
          </div>
        </div>
      </div>
    </div>

    <div class="product-area section-space">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="cart-table-wrap">
              <div class="table-responsive">
                <table class="cart-table">
                  <thead>
                    <tr>
                      <th>Ảnh</th>
                      <th>Sản phẩm</th>
                      <th>Giá</th>
                      <th>Số lượng</th>
                      <th>Tổng tiền</th>
                      <th>Đơn hàng</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if (orders.length > 0) { %>
                      <% orders.forEach(order => { 
                          const orderId = order?._id?.slice(-5) || '#####';
                      %>
                        <% order.products.forEach(productItem => { %>
                          <tr>
                            <td>
                              <a href="/productdetails/<%= productItem.product.id %>">
                                <img class="w-100" src="<%= productItem.product.images?.[0] || '/static/images/default-product.jpg' %>" width="96" height="96">
                              </a>
                            </td>
                            <td>
                              <h5>
                                <a href="/productdetails/<%= productItem.product.id %>"><%= productItem.product.name %></a>
                              </h5>
                            </td>
                            <td><%= productItem.product.price.toLocaleString('vi-VN') %>₫</td>
                            <td><%= productItem.quantity %></td>
                            <td><%= (productItem.product.price * productItem.quantity).toLocaleString('vi-VN') %>₫</td>
                            <td>#<%= orderId %></td>
                          </tr>
                        <% }) %>
                      <% }) %>
                    <% } else { %>
                      <tr>
                        <td colspan="6" class="text-center">
                          <div class="alert alert-warning">Không có đơn hàng nào. <a href="/product">Mua ngay</a>.</div>
                        </td>
                      </tr>
                    <% } %>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="cart-shiping-update-wrapper">
              <div class="cart-shiping-btn continure-btn">
                <a class="btn btn-link" href="/product"><i class="fa fa-angle-left"></i> Tiếp tục mua sắm</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer class="footer-area">
    <%- include('../shares/footer') %>
  </footer>
</div>

<script src="/static/js/vendor/bootstrap.bundle.min.js"></script>
</body>
</html>
