<!DOCTYPE html>
<html class="no-js" lang="zxx">


<!-- Mirrored from htmldemo.net/elehaus/elehaus/shop-right-sidebar.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 26 Jun 2024 08:39:17 GMT -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>5 CON BÁO</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.png">

    <!-- CSS (Font, Vendor, Icon, Plugins & Style CSS files) -->

    <!-- Font CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&amp;family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400&amp;display=swap"
        rel="stylesheet">

    <!-- Vendor CSS (Bootstrap & Icon Font) -->
    <link rel="stylesheet" href="/static/css/vendor/bootstrap.min.css">

    <!-- Plugins CSS (All Plugins Files) -->
    <link rel="stylesheet" href="/static/css/plugins/swiper-bundle.min.css">
    <link rel="stylesheet" href="/static/css/plugins/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/plugins/simple-line-icons.css">
    <link rel="stylesheet" href="/static/css/plugins/fancybox.min.css">
    <link rel="stylesheet" href="/static/css/plugins/nice-select.css">
    <link rel="stylesheet" href="/static/css/plugins/range-slider.css">

    <!-- Style CSS -->
    <link rel="stylesheet" href="/static/css/style.css">

</head>

<body>

    <!--== Wrapper Start ==-->
    <div class="wrapper">


        <%- include('../partical/header'); %>
            <main class="main-content">

                <!--== Start Page Header Area Wrapper ==-->
                <div class="page-header-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="page-header-content">
                                    <h2 class="page-header-title">Sản Phẩm </h2>
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/home">Home //</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Sản Phẩm </li>
                                    </ol>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="page-header-thumb">
                                    <img src="/static/images/photos/page-title.png" alt="Image-HasTech" width="546"
                                        height="281">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--== End Page Header Area Wrapper ==-->

                <!--== Start Product Area Wrapper ==-->
                <div class="product-area section-space">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-xl-9">
                                <!--== Start Product Top Bar Area Wrapper ==-->
                                <div class="shop-top-bar">
                                    <form method="GET" action="/product">
                                        <select name="category" class="select-shoing" onchange="this.form.submit()">
                                            <option value="" <%=selectedCategory==="" ? "selected" : "" %>>Tất cả danh
                                                mục
                                            </option>
                                            <% categories.forEach(cat=> { %>
                                                <option value="<%= cat.id %>" <%=selectedCategory===cat.id ? "selected"
                                                    : "" %>><%= cat.name %>
                                                </option>
                                                <% }) %>
                                        </select>
                                    </form>
                                    <nav class="pagination-area ms-md-auto mt-3 mt-md-0">
                                        <ul class="page-numbers">
                                            <li>
                                                <a class="page-number active" href="shop.html">1</a>
                                            </li>
                                            <li>
                                                <a class="page-number" href="shop.html">2</a>
                                            </li>
                                            <li>
                                                <a class="page-number next" href="shop.html">
                                                    <i class="icon-arrow-right"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                                <!--== End Product Top Bar Area Wrapper ==-->
                                <div class="tab-content" id="nav-tabContent">
                                    <% products.forEach(product=> { %>
                                        <div class="col-sm-6 col-lg-6 col-xl-4 mb-6">
                                            <div class="product-item">
                                                <a class="product-item-thumb" href="/productdetails/<%= product.id %>">
                                                    <img src="<%= product.images[0] || '/static/images/default-product.jpg' %>"
                                                        width="270" height="264" alt="<%= product.name %>">
                                                </a>
                                                <div class="product-item-action">
                                                    <button type="button" class="product-action-btn action-btn-wishlist"
                                                        data-bs-toggle="modal" data-bs-target="#action-WishlistModal">
                                                        <i class="icon-heart"></i>
                                                    </button>
                                                    <button type="button" class="product-action-btn action-btn-compare"
                                                        data-bs-toggle="modal" data-bs-target="#action-CompareModal">
                                                        <i class="icon-shuffle"></i>
                                                    </button>
                                                    <button type="button"
                                                        class="product-action-btn action-btn-quick-view"
                                                        data-bs-toggle="modal" data-bs-target="#action-QuickViewModal">
                                                        <i class="icon-magnifier"></i>
                                                    </button>
                                                </div>
                                                <div class="product-item-info text-center pb-6">
                                                    <h5 class="product-item-title mb-2">
                                                        <a href="/productdetails/<%= product.id %>">
                                                            <%= product.name %>
                                                        </a>
                                                    </h5>
                                                    <div class="product-item-price">$<%= product.price %>
                                                    </div>
                                                    <div class="product-item-review-icon">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-half-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <% }) %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--== End Product Area Wrapper ==-->

            </main>


            <!--== Start Footer Area Wrapper ==-->
            <footer class="footer-area">
                <%- include('../shares/footer'); %>
            </footer>
            <!--== End Footer Area Wrapper ==-->



    </div>
    <!--== Wrapper End ==-->

    <!-- JS Vendor, Plugins & Activation Script Files -->

    <!-- Vendors JS -->
    <script src="/static/js/vendor/modernizr-3.11.7.min.js"></script>
    <script src="/static/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/static/js/vendor/jquery-migrate-3.3.2.min.js"></script>
    <script src="/static/js/vendor/bootstrap.bundle.min.js"></script>

    <!-- Plugins JS -->
    <script src="/static/js/plugins/swiper-bundle.min.js"></script>
    <script src="/static/js/plugins/fancybox.min.js"></script>
    <script src="/static/js/plugins/jquery.nice-select.min.js"></script>
    <script src="/static/js/plugins/jquery.countdown.min.js"></script>
    <script src="/static/js/plugins/isotope.pkgd.min.js"></script>
    <script src="/static/js/plugins/range-slider.js"></script>

    <!-- Custom Main JS -->
    <script src="/static/js/main.js"></script>

</body>


<!-- Mirrored from htmldemo.net/elehaus/elehaus/shop-right-sidebar.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 26 Jun 2024 08:39:17 GMT -->

</html>

// trang quan ly san pham